html, body {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    padding: 1em 2em;
    background-color: #161722;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));;
    gap: 1em;
    column-gap: 2em;
    grid-auto-rows: 7em;
}

nav .link {
    padding: 2em;
    border-radius: 18px;
    border: none;
    display: flex;
    align-items: center;
    align-content: center;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;

    background: #161722;
    box-shadow:  7px 7px 15px #1a1b28, 
                -7px -7px 15px #1b1d2c;

    transition: color 0.8s, box-shadow 0.6s;
}

nav .link:hover {
    color: rgb(248, 248, 248);

    background: linear-gradient(145deg, #25273c, #161722);
    box-shadow: 7px 7px 15px #1b1d2c, 
                -7px -7px 15px #24252d;

    transition: color 0.8s, box-shadow 0.6s;
}

button {
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    border: none;
    display: flex;
    align-items: center;
    align-content: center;
    color: #EEEEEE;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
}

nav img {
    max-width: 40px;
    margin-right: 1em;
    border-radius: 8px;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
}